In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [54]:
driver=webdriver.Chrome()

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [55]:
#opening the shine page on automated chrome browser

driver.get("https://www.shine.com/")

In [56]:
#entering designation and location as required in the question


designation = driver.find_element(By.CLASS_NAME, "form-control")
designation.send_keys('Data Analyst')

In [57]:
location = driver.find_element(By.XPATH," /html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [58]:
search = driver.find_element(By.XPATH,"//*[contains(@type,'sub')]")
search.click()

In [59]:
job_title = []
job_loc = []
com_name = []
exp_requir = []

In [60]:
#scraping job title from the given page

title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [61]:
#scraping job location from the given page

loc_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc_tags[0:10]:
    loc = i.text
    job_loc.append(loc)

In [62]:
#scraping company name from the given page

comp_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in comp_tags[0:10]:
    comp = i.text
    com_name.append(comp)

In [63]:
#scraping experience from the given page

exp_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags[0:10]:
    exp = i.text
    exp_requir.append(exp)

In [64]:
print(len(job_title),
len(job_loc),
len(com_name),
len(exp_requir))

10 10 10 10

In [65]:
Shine = pd.DataFrame({'Title':job_title, 'Location': job_loc,'Company': com_name,'Experience Required':exp_requir})
Shine

,Title,Location,Company,Experience Required
0,Senior Data Analyst,Bangalore\n+8,harjai computers private limited,0 to 2 Yrs
1,Hiring For Data Analyst,Bangalore\n+8,harjai computers private limited,2 to 5 Yrs
2,Data Analyst,Bangalore,true caller,3 to 5 Yrs
3,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
4,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
5,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
6,Data Analyst,Bangalore\n+13,rama technical consultants,11 to 21 Yrs
7,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs
9,"Business Data Analyst, GlowRoad",Bangalore,amazon,1 to 3 Yrs

### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. Youhave to scrape the job-title, job-location,  company_name. You have to scrape first 10 jobs data

In [66]:
#opening the shine page on automated chrome browser

driver.get("https://www.shine.com/")

In [67]:
#entering designation and location as required in the question


designation = driver.find_element(By.CLASS_NAME, "form-control")
designation.send_keys('Data Scientist')

In [68]:
location = driver.find_element(By.XPATH," /html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [69]:
search = driver.find_element(By.XPATH,"//*[contains(@type,'sub')]")
search.click()

In [70]:
job_title = []
job_loc = []
com_name = []
exp_requir = []

In [71]:
#scraping job title from the given page

title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [72]:
#scraping job location from the given page

loc_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc_tags[0:10]:
    loc = i.text
    job_loc.append(loc)

In [73]:
#scraping company name from the given page

comp_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in comp_tags[0:10]:
    comp = i.text
    com_name.append(comp)

In [74]:
#scraping experience from the given page

exp_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags[0:10]:
    exp = i.text
    exp_requir.append(exp)

In [75]:
print(len(job_title),
len(job_loc),
len(com_name),
len(exp_requir))

10 10 10 10

In [76]:
Scientist = pd.DataFrame({'Title':job_title, 'Location': job_loc,'Company': com_name,'Experience Required':exp_requir})
Scientist

,Title,Location,Company,Experience Required
0,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
3,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
4,Data Scientist III,Bangalore,inmobi,7 to 9 Yrs
5,Data Scientist,Bangalore\n+6,quiscon biotech,0 to 1 Yr
6,"Senior Data Scientist, AWS",Bangalore,amazon,10 to 12 Yrs
7,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
9,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage.You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs.

In [77]:
#opening the shine page on automated chrome browser

driver.get("https://www.shine.com/")

In [78]:
#entering designation and location as required in the question


designation = driver.find_element(By.CLASS_NAME, "form-control")
designation.send_keys('Data Scientist')

In [79]:
search = driver.find_element(By.XPATH,"//*[contains(@type,'sub')]")
search.click()

In [80]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button/i')
location.click()

In [81]:
city = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/label')
city.click()

In [82]:
Show_results = driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
Show_results.click()

In [83]:
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button/i')
salary.click()

In [84]:
rupees = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
rupees.click()

In [85]:
Show_results = driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
Show_results.click()

In [86]:
job_name = []
job_loc = []
comp_name = []
experience = []

In [87]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    job_name.append(title)

In [88]:
loc_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc_tags[0:10]:
    loc = i.text
    job_loc.append(loc)

In [89]:
comp_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in comp_tags[0:10]:
    comp = i.text
    comp_name.append(comp)

In [90]:
exp_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags[0:10]:
    exp = i.text
    experience.append(exp)

In [91]:
print(len(job_name),
len(job_loc),
len(comp_name),
len(experience))

10 10 10 10

In [92]:
Delhi_DS = pd.DataFrame({'Designation': job_name, 'Location': job_loc, 'Company': comp_name,'Experience_required': experience})
Delhi_DS

,Designation,Location,Company,Experience_required
0,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
1,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
3,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
4,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
5,Senior Data Engineer,Delhi\n+6,corporate steps..,2 to 4 Yrs
6,Hiring For Data Analyst,Delhi\n+8,harjai computers private limited,2 to 5 Yrs
7,Senior Data Analyst,Delhi\n+8,harjai computers private limited,0 to 2 Yrs
8,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
9,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.

In [93]:
#opening the flipkart page on automated chrome browser

driver.get("https://www.flipkart.com/")

In [94]:
sunglass = driver.find_element(By.CLASS_NAME,"Pke_EE")
sunglass.send_keys('Sunglasses')

In [96]:
search = driver.find_element(By.XPATH,"//*[contains(@type,'sub')]")
search.click()

In [97]:
Brand = []
description = []
price = []
discount_percent = []

In [108]:
name_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags:
    name = i.text
    Brand.append(name)

In [ ]:
Brand

In [109]:
print(len(Brand))

80

In [110]:
## description  
desc_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desc_tags:
    describe = i.text
    description.append(describe)

In [103]:
desc_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa _2-ICcC"]')
for i in desc_tags:
    describe = i.text
    description.append(describe)

In [101]:
description

['Polarized, UV Protection Round Sunglasses (50)',
 'Polarized, UV Protection Aviator Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (50)',
 'Polarized, UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Polarized Round, Oval Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Polarized, UV Protection Rectangular Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (53)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)']

In [111]:
print(len(description))

80

In [112]:
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    cost = i.text
    price.append(cost)

In [ ]:
price

In [113]:
print(len(price))

80

In [117]:
discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags:
    disc_percent = i.text
    discount_percent.append(disc_percent)

In [ ]:
discount_percent

In [118]:
print(len(discount_percent))

80

In [125]:
next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]') #to scrape data from next pages
next_button.click()

In [126]:
name_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags[:20]:
    name = i.text
    Brand.append(name)

In [ ]:
Brand

In [127]:
print(len(Brand))

100

In [128]:
desc_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desc_tags[:20]:
    describe = i.text
    description.append(describe)

In [ ]:
description

In [129]:
print(len(description))

100

In [130]:
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[:20]:
    cost = i.text
    price.append(cost)

In [ ]:
price

In [131]:
print(len(price))

100

In [132]:
discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[:20]:
    disc_percent = i.text
    discount_percent.append(disc_percent)

In [ ]:
discount_percent

In [133]:
print(len(discount_percent))

100

In [134]:
sunglasses = pd.DataFrame({'Brand': Brand,'Description': description,'Price': price, 'Discount_percentage': discount_percent})
sunglasses

,Brand,Description,Price,Discount_percentage
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹849,57% off
1,Eyewearlabs,"Polarized, UV Protection Aviator Sunglasses (60)","₹1,520",57% off
2,Fastrack,UV Protection Wayfarer Sunglasses (58),₹649,40% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹499,44% off
4,Fastrack,UV Protection Aviator Sunglasses (58),₹799,42% off
...,...,...,...,...
95,SRPM,UV Protection Wayfarer Sunglasses (50),₹217,83% off
96,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹545,72% off
97,ROYAL SON,UV Protection Wayfarer Sunglasses (54),₹639,68% off
98,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹699,72% off
99,Ray-Ban,Polarized Wayfarer Sunglasses (51),"₹9,801",21% off

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [ ]:
driver=webdriver.Chrome()

In [135]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [136]:
rate = []
Full_review = []
summary = []

In [137]:
start = 0
end = 10 #for 10 pages

for page in range(start,end):
    rate_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate_tags:
        rate.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]') #to scrape data from next pages
    next_button.click()
    time.sleep(3)

In [138]:
print(len(rate))

100

In [139]:
start = 0
end = 10 #for 10 pages

for page in range(start,end):
    full_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        Full_review.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]') #to scrape data from next pages
    next_button.click()
    time.sleep(3)

In [140]:
start = 0
end = 10 #for 10 pages

for page in range(start,end):
    summary_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_tags:
        summary.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]') #to scrape data from next pages
    next_button.click()
    time.sleep(3)

In [141]:
print(len(rate),len(Full_review),len(summary))

100 100 100

In [142]:
iphone = pd.DataFrame({'Ratings': rate, 'Review_Summary': summary,'Full_Review': Full_review})
iphone

,Ratings,Review_Summary,Full_Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Best in the market!,Good Camera
3,5,Wonderful,This is amazing at all
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Super!,Good product 👌I love iPhone
96,5,Great product,Purple is best
97,5,Fabulous!,It’s very good battery life and display and vi...
98,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
99,5,Wonderful,Very good

### Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [143]:
driver = webdriver.Chrome()

In [144]:
driver.get("https://www.flipkart.com/")

In [145]:
sneakers = driver.find_element(By.CLASS_NAME,"Pke_EE")
sneakers.send_keys('Sneakers')

In [146]:
search = driver.find_element(By.XPATH,"//*[contains(@type,'sub')]")
search.click()

In [147]:
Brand = []
Description = []
Price = []

In [157]:
name_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags:
    name = i.text
    Brand.append(name)

In [158]:
print(len(Brand))

80

In [159]:
Desc_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Desc_tags:
    Desc = i.text
    Description.append(Desc)

In [160]:
Desc_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in Desc_tags:
    Desc = i.text
    Description.append(Desc)

In [161]:
print(len(Description))

80

In [162]:
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    cost = i.text
    Price.append(cost)

In [163]:
print(len(Price))

80

In [156]:
next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]') #to scrape data from next pages
next_button.click()

In [164]:
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()  #to move to next pages

In [165]:
name_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags[:20]:
    name = i.text
    Brand.append(name)

In [166]:
Desc_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Desc_tags[:20]:
    Desc = i.text
    Description.append(Desc)

In [167]:
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[:20]:
    cost = i.text
    Price.append(cost)

In [168]:
print(len(Brand),len(Description),len(Price))

100 100 100

In [169]:
Sneakers = pd.DataFrame({'Brand':Brand, 'Pr_Description': Description,'Pr_Price': Price})
Sneakers

,Brand,Pr_Description,Pr_Price
0,ATOM,Sneakers For Men,"₹1,285"
1,kardam&sons,kardam&sons luxury fashionable Stylish Light W...,₹549
2,asian,Sneakers For Men,₹822
3,aadi,Sneakers For Men,₹279
4,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,558"
...,...,...,...
95,asian,SM-750 Sneakers For Men,"₹1,175"
96,Sparx,BMW MMS X-Ray Speed Sneakers For Men,₹715
97,PUMA,Sneakers For Men,"₹5,489"
98,K- FOOTLANCE,Revolution 5 Sneakers For Men,₹354
99,NIKE,Buzz Sneakers For Men,"₹1,999"

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [170]:
driver = webdriver.Chrome()

In [171]:
driver.get("https://www.amazon.in/")

In [172]:
laptop = driver.find_element(By.XPATH,'//input[@type="text"]')
laptop.send_keys("Laptop")

In [173]:
search = driver.find_element(By.XPATH,"//*[contains(@type,'sub')]")
search.click()

In [174]:
core = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[11]/li/span/a/div/label/i')
core.click()

In [175]:
Title = []
Ratings = []
Price =[]

In [176]:
name_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in name_tags[:10]:
    name = i.text
    Title.append(name)

In [182]:
rate_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-normal-weight-text"]')
for i in rate_tags[:10]:
    star = i.text
    Ratings.append(star)

In [178]:
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[:10]:
    cost = i.text
    Price.append(cost)

In [183]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [184]:
laptop = pd.DataFrame({'Brand': Title, 'Ratings': Ratings,'Price': Price})
laptop

                                               Brand Ratings     Price
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.3    68,919
1  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...     3.5    62,500
2  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     4.0    64,990
3  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.3    66,990
4  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     4.1    80,990
5  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.3    68,919
6  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     4.4    54,990
7  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...     3.5    68,990
8  HP Pavilion 15, 13th Gen Intel Core i7-1360P, ...     3.8    88,490
9  ASUS ZenBook 13 8th-Gen Intel Core i7-8565U Pr...     4.4  1,94,078

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [185]:
driver = webdriver.Chrome()

In [186]:
driver.get("https://www.azquotes.com/")

In [187]:
top_quotes = driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
top_quotes.click()

In [188]:
quotes = []
author = []
type_quotes = []

In [217]:
## to scrap for quotes
quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    quotes.append(i.text)
        
 ## to scrape authors       
author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for j in author_tags:
    author.append(j.text)
        
## to scrape type of quotes
type_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for k in type_tags:
    type_quotes.append(k.text)

In [218]:
print(len(quotes),len(author),len(type_quotes))

1000 1000 1000

In [216]:
#run after each page to scrap next pages
next_button = driver.find_element(By.XPATH, '//li[@class="next"]') #to scrape data from next pages
next_button.click()

In [219]:
Top_Quotes = pd.DataFrame({'Quotes': quotes, 'Author': author, 'Type Of Quotes': type_quotes})
Top_Quotes

,Quotes,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.jagranjosh.com/")

In [4]:
GK = driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge"]')
GK.click()

In [5]:
Prime_Ministers = driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]')
Prime_Ministers.click()

In [11]:
name = []
date = []
term = []
remarks = []

In [12]:
# to scrape names
name_tags = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]')
for i in name_tags:
    name.append(i.text)
    
# to scrape born & dead    
date_tags = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]')
for j in date_tags:
    date.append(j.text)
    
# to scrape term of office
term_tags = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for k in term_tags:
    term.append(k.text.replace('\n','-----------'))
    
#to scrape remarks  
remark_tags = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]')
for l in remark_tags:
    remarks.append(l.text)

In [13]:
name.pop()

'List of Nicknames of Indian Prime Ministers'

In [14]:
print(len(name), len(date), len(term), len(remarks))

19 19 19 19

In [15]:
prime_ministers = pd.DataFrame({'Name': name,'Born-Dead': date,'Term Of Office':term, 'Remarks':remarks})
prime_ministers

,Name,Born-Dead,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964-----------16 yea...,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,-----------13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966-----------1 yea...,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966-----------1...,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977-----------11 ...,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979 -----------2 ye...,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980-----------170 ...,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984-----------4...,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989-----------5...,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990-----------...,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991-----------223...,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996-----------4 years,...",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996-----------16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997-----------324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 -----------332 ...,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004 -----------6 year...,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014 -----------10 yea...,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [286]:
driver = webdriver.Chrome()

In [287]:
driver.get("https://www.motor1.com/")

In [288]:
Cars = driver.find_element(By.XPATH, "//input[@type = 'text']")
Cars.send_keys("50 most expensive cars")

In [289]:
search = driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [290]:
expensive_cars = driver.find_element(By.XPATH,'//a[@href="/features/308149/most-expensive-new-cars-ever/"]')
expensive_cars.click()

In [291]:
C_name = []
C_price = []

In [292]:
name_tags = driver.find_elements(By.CLASS_NAME,"subheader")
for i in name_tags:
    C_name.append(i.text)

In [293]:
C_name

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail',
 'Most Expensive Cars In The World']

In [294]:
C_name.pop()

'Most Expensive Cars In The World'

In [295]:
C_name

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail']

In [296]:
print(len(C_name))

50

In [297]:
price_tags = driver.find_elements(By.TAG_NAME,"strong")
for i in price_tags:
    C_price.append(i.text)

In [298]:
C_price

['Price: $1.5 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $2.8 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $4.8 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $7.5 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)',
 'Price: $30 Million (est.)']

In [299]:
print(len(price))

50

In [301]:
CARS = pd.DataFrame({'Car_name' : C_name, 'Car_Price': C_price})
CARS

                              Car_name                    Car_Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)